* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: #3d42cd;
    height: 90px;
    text-align: center;
    color: #f9f2ec;
    font-size: 50px;
}

body {
    background-color: #ffffff;
}

section {
    font-size: 26px;
}

p {
    font-weight: bold;
}

.container{
    width: 1500px;
    height: 600px;
}

.card {
    border: 1px solid #3d42cd;
    background-color: #ffffff;
    display: inline-block;
    width: 300px;
    height: 450px;
    line-height: 100px;
    margin: 20px;
}

#dayFour{
    margin-top: 80px;
}

.row{
    width: 1700px;
    height: 500px;
    line-height: 90px;
    margin: 20px;
}

#currentDay {
    background-color: #6c70e1;
    color: #ffffff; 
}

.searchBar{
    background-color: #ffffff;
}

#weatherIcon{
    margin: 20px 0px 10px 0px;
}

/* .button{
    display: block;
    width: 150px;
    height: 80px;
} */