* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}

header {
    background-color: #3d42cd;
    height: 90px;
    text-align: center;
    font-size: 50px;
    background-color: #e0ac7f
}

h3

body {
    background-color: #ffffff;
}

section {
    font-size: 26px;
}

p {
    font-weight: bold;
    color: #ffffff;
}

.container{
    width: 1500px;
    height: 600px;
}

.card {
    border: 1px solid #3d42cd;
    background-color: #ffffff;
    display: inline-block;
    padding: 12px;
    margin: 12px;
    width: 300px;
    height: 400px;
    line-height: 80px;
    background-color: #e0ac7f;
   
}

#currentDay {
    width: 1200px;
    height: 400px;
    margin-left: 400px;
}

.searchBar{
    background-color: #ffffff;
}

#weatherIcon{
    margin: 20px 0px 10px 0px;
}

.button{
    background-color: #e0ac7f;
    display: block;
    width: 200px;
    font-size: 20px;
    margin: 20px 10px;
    height: 30px;
}